<link rel='stylesheet' type='text/css' href='/assets/stylesheets/application.css'>
<h2>Companies</h2>
<div>
  <ul>
    <% @companies.each do |company| %>

    <div class "company_list">
      <li>
        <%= link_to company.name, company_path(company) %>
      </li>
      <% end %>
    </div>
  </ul>
  <div>
