  <h2>Companies</h2>
  <div>
  <ul>
    <% @companies.each do |company| %>

    <div class "comapny_list">
      <li>
        <%= link_to company.name, company %>
      </li>
    <% end %>
  </div>
  </ul>
  <div>
