<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Companies
      </a>
    </div>
  </div>
</nav>
<div>
  <ul>
    <% @companies.each do |company| %>

    <div class "company_list">
      <li>
        <%= link_to company.name, company_path(company) %>
      </li>
      <% end %>
    </div>
  </ul>
  <%=link_to "add company", new_company_path %>
  <div>
