/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*.product_table, th, td{
   border: 1px solid black;
}
.product_table td,.product_table th{
  width: 20%;
}
table{
  width: 100%;
  border-collapse: collapse;
}*/
h3{
  font-size: 25px;
}

h2{
  font-size: 30px;
}
.even {
  background-color: lightblue;
}
body {
  padding-top: 70px;
}
.home{
  text-align: center;
  background-color: blue;
}
