<h2><%=@company.name%></h2>

<h3>Products</h3>
  <div class="product_table">
    <%= table_for @products do -%>
  <% columns :name, :description, :inventory, :vendor_id, :price  %>
<% end %>
<%= link_to "add products", new_company_product_path %>

</div>
